<div class="jumbotron">
  <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal"
    data-theme="dark" data-vanity="tylermaxwell"><a class="LI-simple-link"
      href='https://www.linkedin.com/in/tylermaxwell?trk=profile-badge'>Tyler Maxwell</a></div>
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">
    My name is Tyler Maxwell and I am currently working as a freelance full stack web developer.
  </p>
  <hr class="my-4" />
  <p>
    Please view my portfolio below. Thank you in advance for your interest and I look forward to speaking with you.
  </p>
  <p class="lead">
    <a
      class="btn btn-primary btn-lg center"
      href="/portfolio.html"
      role="button"
      >Portfolio</a
    >
  </p>
</div>
