<div class="jumbotron">
  <img src="img/me.jpg" alt="" class="img-thumbnail" />
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">
    My name is Tyler Maxwell and I am currently seeking employment as a web
    developer. I specialize in Sinatra, Rails, and React.
  </p>
  <hr class="my-4" />
  <p>
    For more information about me and to view my portfolio, please click the
    button below. Thank you in advance for your inerest and I look forward to
    speaking with you.
  </p>
  <p class="lead">
    <a
      class="btn btn-primary btn-lg center"
      href="/portfolio.html"
      role="button"
      >Portfolio</a
    >
  </p>
</div>
